body {
    font-family: 'DM Sans', sans-serif;
}

h2 {
    color: #2E2C2D;
    font-size: 1.7rem;
    text-align: center;
}

h3 {
    color: #FF5C00;
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem ;
}

p {
    line-height: 1.1rem;
}

/* //////////////// Animaçaõ para a esquerda //////////////// */
.dash-left {
    animation: dashleft 1.5s forwards;
}

@keyframes dashleft {
    0%{
        opacity: 0.2;
        transform: translateX(150px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* //////////////////////////////// */


/* //////////////// Animaçaõ para a direita //////////////// */
.dash-right {
    animation: dashright 1.5s forwards;
}

@keyframes dashright {
    0%{
        opacity: 0.2;
        transform: translateX(-150px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* //////////////////////////////// */


/* //////////////// Animaçaõ para cima //////////////// */
.dash-up {
    animation: dashup 1.5s forwards;
}

@keyframes dashup {
    0%{
        opacity: 0.2;
        transform: translateY(100px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* //////////////////////////////// */


/* //////////////// Delay dos cards //////////////// */
.servicos-vantagem:nth-child(1) {
    opacity: 0;
}
.servicos-vantagem:nth-child(3) {
    opacity: 0;
    animation-delay: .2s;
}
.servicos-vantagem:nth-child(5) {
    opacity: 0;
    animation-delay: .3s;
}
.servicos-vantagem:nth-child(7) {
    opacity: 0;
    animation-delay: .4s;
}
.servicos-vantagem:nth-child(9) {
    opacity: 0;
    animation-delay: .5s;
}
.servicos-vantagem:nth-child(11) {
    opacity: 0;
    animation-delay: .6s;
}

.vantagem-divisor_mobile:nth-child(2) {
    opacity: 0;
}
.vantagem-divisor_mobile:nth-child(4) {
    opacity: 0;
    animation-delay: .2s;
}
.vantagem-divisor_mobile:nth-child(6) {
    opacity: 0;
    animation-delay: .3s;
}
.vantagem-divisor_mobile:nth-child(8) {
    opacity: 0;
    animation-delay: .4s;
}
.vantagem-divisor_mobile:nth-child(10) {
    opacity: 0;
    animation-delay: .5s;
}
/* //////////////////////////////// */


/* //////////////// MENU //////////////// */
.menu-nav {
    display: none;
}

.menu-nav_on {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 150px;
    border-radius: 10px ;
    margin-top: 200px;
    top: -120px;
    margin-left: 55vw;
    background-color: #FFFFFF;
}

header .menu{
    position: fixed;
    height: 72px;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.menu-button {
    text-decoration: none;
    color: #1C1C1C;
}

.menu-button:hover {
    color: #FF5C00;
    cursor: pointer;
}

.menu-logo {
    width: 143px;
}

.icone-animation {
    animation: menu-animation .2s linear forwards;
}

@keyframes menu-animation {
    to {
        transform: rotate(90deg);
    }
}

.icone-style {
    font-size: 2rem;
    color: black;
}

.button-icone {
    border: none;
    background: none;
}

.button-icone:hover {
    cursor: pointer;
}

@media  screen and (min-width: 1024px) {
    .menu-nav {
        display: flex;
        width: 40vw;
        flex-direction: row;
        justify-content: space-around;
    }

    .button-icone {
        display: none;
    }
}

@media  screen and (min-width: 1440px) {
    .menu-button {
        font-size: 1.1rem;
    }
}
/* //////////////////////////////// */

/* //////////////// INICIO //////////////// */
.inicio-bg {
    margin-top: 72px;
    height: calc(100vh - 72px);
    width: 100vw;
    background: no-repeat url('../img/inicio-bg__mobile.webp');
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
    position: fixed;
    overflow-y: auto;
}

.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.inicio-texto {
    margin-top: 20px;
    color: #E0E0E0;
    text-align: center;
    font-size: small;
    line-height: 1rem;
}

.inicio-titulo {
    color: #fff;
    font-size: 28px;
    line-height: 30px;

    > span {
        color: #FF5C00;
    }
}

@media screen and (min-width: 540px) {
    .inicio-titulo {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    .inicio-texto {
        font-size: 16px;
        line-height: 18px;
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    .inicio-bg {
        background: no-repeat url("../img/inicio-bg__desktop.webp");
        background-size: cover;
    }

    .inicio-titulo {
        text-align: unset;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .inicio-texto {
        width: 560px;
        font-size: 1rem;
    }
} 
@media screen and (min-width: 1240px) {

    .inicio-titulo {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1440px){
    .inicio-titulo {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1880px) {
    .inicio-texto {
        font-size: 1.3rem;
        line-height: 1.5rem;
        width: 700px;
    }

    .inicio-titulo {
        font-size: 3.5rem;
        line-height: 3.8rem;
    }
}
/* //////////////////////////////// */

/* //////////////// SOBRE //////////////// */
.sobre {
    padding: 50px 20px 20px;
    background: #fff;
}

.sobre-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-texto {
    margin: 30px;
}

.texto-centralizado {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .sobre {
        height: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw 0 8vw; 
    }

    .texto-centralizado {
        text-align: unset;
    }

    p, li, .vantagem-texto {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    ul .texto-paragrafo {
        text-align: center;
    }

    h3 {
        line-height: 1.5rem;
    }

}

@media screen and (min-width: 1240px) {
    h4 {
        font-size: 1.9rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.1rem;
        
    }

    .sobre {
        padding: 0 4vw;
        justify-content: space-around;
    }

}

@media screen and (min-width: 1880px) {
    h4 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    p , .sobre-texto, .mapa-texto, li {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

/* //////////////////////////////// */

/* //////////////// REDE //////////////// */
.rede {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#FB8000 ,#FF5C00);
}

.rede-cards {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 140px;
    width: 40vw;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.card-titulo {
    text-align: center;
    color: #FF5C00;
    font-size: 1.5rem;
}

.card-texto {
    text-align: center;
    flex-wrap: wrap;
}

.rede-imagem {
    width: 312px;
    opacity: 0;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 720px) {
    .rede-imagem {
        width: 40vw;
    }

    .card {
        width: 140px;
    }
}

@media screen and (min-width: 1024px) {
    .rede {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4vw;
        background: linear-gradient(90deg,#FB8000 ,#FF5C00);
        box-sizing: border-box;
    }

    .rede-imagem {
        width: 320px;
    }

    .card {
        width: 13.7vw;
        height: 13.7vw;
    }
}

@media screen and (min-width: 1240px) {
    .rede {
        padding: 2vw;
    }
    
    .rede-imagem {
        width: 400px;
    }

}

@media screen and (min-width: 1440px){
    .card {
        height: 13vw;
        width: 13vw;
        padding: 10px;
    }

    .card-titulo {
        font-size: 2.1rem;
    }

    .card-texto {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1880px) {
    .rede {
        padding: 2vw 10vw;
    }
    
    .card {
        width: 13vw;
        height: 10vw;
        box-sizing: border-box;
        margin-bottom: unset;
    }

    .card-titulo {
        font-size: 2.5rem;
    }
    
    .card-texto {
        font-size: 1.5rem;
    }   

    .rede-imagem {
        width: 600px;
    }
}
/* //////////////////////////////// */

/* //////////////// SERVIÇOS //////////////// */
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background: #F2F2F2;
}

.servicos-titulo {
    opacity: 0;
}

.servicos-box {
    display: flex;
    width: 60vw;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.servicos-vantagem {
    width: 100%;
    height: 76px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.vantagem-icone {
    font-size: 3.5rem;
    height: 56px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: #2E2C2D;
    background-color: #FCAE1E;
}

.vantagem-divisor {
    display: none;
}

.vantagem-divisor_mobile {
    width: 100%;
    height: 1px;
    background: #2E2C2D;
}

@media screen and (min-width: 720px){

    .servicos-box {
        width: 85vw;
    }

    .vantagem-divisor_mobile{
        display: none;
    }

    .servicos-vantagem {
        background-color: #FFFFFF;
        height: 180px;
        width: 130px;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 3px 3px rgb(145, 145, 145);
    }

    .vantagem-icone {
        background: none;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        height: 49%;
    }

    .vantagem-divisor {
        display: flex;
        width: 100px;
        height: 1px;
        background: #2E2C2D;
    }

    .vantagem-texto {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 49%;
        text-align: center;
        font-size: small;
    }
}

@media screen and (min-width: 800px) {
    .servicos-box {
        width: 675px;
    }
}

@media screen and (min-width: 1024px) {
    .servicos {
        padding: 100px 4vw;
    }
    
    .servicos-titulo {
        text-align: center;
    }

    .servicos-box {
        width: 90vw;
        height: auto;
        margin-top: 75px;
    }

    .servicos-vantagem {
        width: 11.5vw;
        height: 15vw;
        margin-bottom: unset;
        padding: 10px;
    }
}

@media screen and (min-width: 1880px) {
    .servicos-box {
        margin-top: 150px;
        padding: 0 3vw;
        box-sizing: border-box;
    }

    .servicos-vantagem {
        width: 11vw;
        height: 13vw;
    }

    .vantagem-icone {
        font-size: 5.3rem;
    }

    .vantagem-divisor {
        height: 2px;
        background-color: black;
        width: 9vw;
    }

    .vantagem-texto {
        font-size: 1.1rem;
        font-weight: 700;
    }
}
/* //////////////////////////////// */


/* //////////////// MAPA //////////////// */
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 50px;
    background: url("../img/mapa-bg.webp");
    background-size: cover;
}

.mapa-titulo {
    opacity: 0;
    color: #fff;
    > p {
        color: #E0E0E0;
    }
}

.mapa-imagem {
    margin-top: 50px;
    width: 85vw;
    opacity: 0;
    background: #fff;
    border-radius: 7px;
}

.mapa-texto {
    margin-top: 15px;
}

.button-mapa {
    margin-top: 30px;
    width: 70%;
    padding: 20px 5%;
    color: #ffffff;
    background: #FB8000;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px rgb(94, 94, 94);
    animation: button-sites 3s ease-in-out infinite;
}

.button-mapa:hover {
    cursor: pointer;
    background-color: #FF5C00;
}

@keyframes button-sites {
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media screen and (min-width: 1024px) {
    .mapa {
        flex-direction: row;
        justify-content: space-around;
        padding: 4vw;
    }

    .mapa-imagem {
        margin-top: unset;
        width: 40vw;
    }
}
/* //////////////////////////////// */


/* //////////////// CLIENTES //////////////// */
.clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background: #fff;
}

.clientes-titulo {
    opacity: 0;
}

.clientes-texto {
    margin-top: 20px;
}

.clientes-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: 85vw;
}

.clientes-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    width: 40%;
}

.clientes-imagem {
    width: 100%;
    opacity: 0;
}

@media screen and (min-width: 481px) {
    .clientes-logo {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .clientes {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 4vw 4vw 8vw;
    }

    .clientes-box {
        width: 52vw;
        margin-top: unset;
    }
}

@media screen and (min-width: 1240px) {
    .clientes-titulo {
        margin-right: 50px;
    }

}

@media screen and (min-width: 1880px) {
    .clientes {
        padding: 4vw 4vw 8vw;
    }

    .clientes-logo {
        height: 400px;
    }

    .clientes-imagem {
        width: 120%;
    }
}
/* //////////////////////////////// */


/* //////////////// CONTATO //////////////// */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #1C1C1C;
}

.contato-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.contato-conteudo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.conteudo-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.conteudo-titulo {
    margin: 15px 0 10px;
}

.informacoes-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.phone , .email {
    color: #FF5C00;
    margin-right: 5px;
}

.mapa-maps {
    margin-top: 40px;
    width: 85vw;
    height: 85vw;
}

.texto-branco {
    color: #FFFFFF;
}

@media screen and (min-width: 500px) {
    .conteudo-informacoes {
        flex-direction: row;
        justify-content: space-around;
        width: 400px;
    }

    .contato-conteudo {
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .contato {
        flex-direction: row;
        padding: unset;
    }

    .conteudo-informacoes {
        justify-content: space-between;
        width: 100%;
    }

    .contato-conteudo, .contato-titulo {
        width: 384px;
    }
    
    .conteudo-titulo {
        justify-content: flex-start;
        width: 100%;
    }
    .informacoes-div {
        margin-left: 29px;
    }

    .mapa-maps {
        margin-top: unset;
        width: 50vw;
        height: 30vw;
    }

    .contato-box {
        width: 50vw;
    }
}

@media screen and (min-width: 1440px) {
    .contato-conteudo, .contato-titulo {
        width: 425px;
    }
}

@media screen and (min-width: 1880px) {
    .contato-conteudo, .contato-titulo {
        width: 500px;
    }
}
/* //////////////////////////////// */