body {
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}

h2 {
    color: #2E2C2D;
    font-size: 1.7rem;
    text-align: center;
}

h3 {
    color: #FF5C00;
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    line-height: 1.1rem;
}

/* MENU */
.menu-nav{
    display: none;
}

.menu-nav_on {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 150px;
    border-radius: 10px ;
    margin-top: 200px;
    top: -120px;
    margin-left: 55vw;
    background-color: #FFFFFF;
}

header .menu{
    position: fixed;
    height: 72px;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-button {
    text-decoration: none;
    color: #1C1C1C;
}

.menu-button:hover {
    color: #FF5C00;
    cursor: pointer;
}

.menu-logo {
    width: 143px;
}

.icone-animation {
    animation: menu-animation .2s linear forwards;
}

@keyframes menu-animation {
    to {
        transform: rotate(90deg);
    }
}

.icone-style {
    font-size: 2rem;
    color: black;
}

.button-icone {
    border: none;
    background: none;
}

.button-icone:hover {
    cursor: pointer;
}

@media  screen and (min-width: 1024px) {
    .menu-nav {
        display: flex;
        width: 40vw;
        flex-direction: row;
        justify-content: space-around;
    }

    .button-icone {
        display: none;
    }
}
/* MENU fim */

/* INICIO */
.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FF5C00 , #FB8000 );
}

.inicio-titulo {
    margin-top: 14vh;
    height: 30vh;
    padding: 0 20px;
}

.inicio-imagem {
    height:200px;
    width: 200px;
    margin-top: 4vh;
}

.inicio-texto {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    line-height: 1rem;
}

@media screen and (min-width: 1024px) {
    .inicio {
        flex-direction: row;
        justify-content: space-around;
        background: linear-gradient(115deg, #FF5C00 , #FB8000);
        padding:  0 4vw 72px 4vw;
    }

    h2 {
        text-align: unset;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .inicio-titulo {
        height: unset;
        padding: unset;
    }

    .inicio-texto {
        text-align: unset;
    }

    .inicio-imagem {
        margin-top: unset;
        height: 450px;
        width: 450px;
    }
} 
@media screen and (min-width: 1240px) {
    .inicio-imagem {
        height: 600px;
        width: 600px;
    }

    h2 {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 1880px) {
    .inicio-imagem {
        height: 800px;
        width: 800px;
    }

    h2 {
        font-size: 4.4rem;
        line-height: 5rem;
    }
}

/* INICIO fim */

/* SOBRE */
.sobre {
    padding: 50px 20px 20px;
}

.sobre-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-texto {
    margin: 30px;
}

.texto-centralizado {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .sobre {
        height: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw 0 8vw; 
    }

    .texto-centralizado {
        text-align: unset;
    }

    ul .texto-paragrafo {
        text-align: center;
    }

    h3 {
        line-height: 1.5rem;
    }

}

@media screen and (min-width: 1240px) {
    h4 {
        font-size: 1.9rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.1rem;
        
    }

    .sobre {
        padding: 0 4vw 0 7vw; 
        justify-content: space-around;
    }

}

@media screen and (min-width: 1880px) {
    h4 {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    p , .inicio-texto, .sobre-texto, .mapa-texto, li {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}

/* SOBRE fim */

/* REDE */
.rede {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#FB8000 ,#FF5C00);
    padding: 20px;
}

.rede-cards {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #FFFFFF;
    height: 140px;
    width: 140px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-titulo {
    text-align: center;
    color: #FF5C00;
    font-size: 1.5rem;
}

.card-texto {
    text-align: center;
}

.rede-imagem {
    width: 80vw;
}

@media screen and (min-width: 720px) {
    .rede-imagem {
        width: 40vw;
    }
}

@media screen and (min-width: 1024px) {
    .rede {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg,#FB8000 ,#FF5C00);
        padding: 20px;
    }

    .rede-imagem {
        width: 320px;
    }
}

@media screen and (min-width: 1240px) {
    .rede-imagem {
        width: 400px;
    }

    .card {
        width: 160px;
    }
}

@media screen and (min-width: 1880px) {
    .card {
        width: 15vw;
        height: 10vw;
    }

    .card-titulo {
        font-size: 3rem;
    }
    
    .card-texto {
        font-size: 1.5rem;
    }   

    .rede-imagem {
        width: 600px;
        margin-right: 60px;
    }
}
/* REDE fim */

/* SERVICOS */
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background: #F2F2F2;
}

.servicos-box {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.servicos-vantagem {
    background-color: #FFFFFF;
    height: 180px;
    width: 120px;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vantagem-icone {
    font-size: 4rem;
    text-align: center;
}

.vantagem-divisor {
    width: 75%;
}

.vantagem-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    text-align: center;
    font-size: small;
}

@media screen and (min-width: 1024px) {
    .servicos {
        padding: 100px 20px;
    }
    
    .servicos-titulo {
        text-align: center;
    }

    .servicos-box {
        width: 90vw;
        margin-top: 100px;
    }

    .servicos-vantagem {
        width: 12vw;
        height: 15vw;
    }
}

@media screen and (min-width: 1880px) {
    .servicos-box {
        margin-top: 150px;
    }

    .servicos-vantagem {
        width: 13vw;
        height: 14vw;
    }

    .vantagem-icone {
        font-size: 5.3rem;
        margin: 1vw;
    }

    .vantagem-divisor {
        height: 2px;
        background-color: black;
    }

    .vantagem-texto {
        font-size: 1.2rem;
    }
}
/* SERVIÇOS fim */

/* MAPA */
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 50px;
    background: linear-gradient(#F2F2F2, #FFFFFF);
}

.mapa-imagem {
    margin-top: 50px;
    width: 85vw;
}

.mapa-texto {
    margin-top: 15px;
}

@media screen and (min-width: 1024px) {
    .mapa {
        flex-direction: row;
        justify-content: space-around;
    }

    .mapa-imagem {
        margin-top: unset;
        width: 40vw;
    }
}
/* MAPA fim */

/* CLIENTES */
.clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.clientes-texto {
    margin-top: 20px;
}

.clientes-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    flex-wrap: wrap;
}

.clientes-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .clientes {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 50px 20px 75px;
    }

    .clientes-box {
        width: 60vw;
        margin-top: unset;
    }
}

@media screen and (min-width: 1240px) {
    .clientes-titulo {
        margin-right: 50px;
    }

}

@media screen and (min-width: 1880px) {
    .clientes {
        padding: 10vw 2vw;
    }

}
/* CLIENTES fim */

/* CONTATO */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #1C1C1C;
}

.contato-box {
    width: 70vw;
}

.contato-conteudo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-informacoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.conteudo-titulo {
    margin: 15px 0 10px;
}

.informacoes-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.phone , .email {
    color: #FF5C00;
    margin-right: 5px;
}

.mapa-maps {
    margin-top: 40px;
    width: 85vw;
    height: 85vw;
}

.texto-branco {
    color: #FFFFFF;
}

@media screen and (min-width: 470px) {
    .conteudo-informacoes {
        justify-content: space-between;
    }

}

@media screen and (min-width: 1024px) {
    .contato {
        flex-direction: row;
        justify-content: space-around;
        padding: unset;
    }

    .conteudo-informacoes {
        justify-content: flex-start;
    }

    
    .informacoes-div {
        margin-left: 50px;
    }

    .mapa-maps {
        margin-top: unset;
        width: 50vw;
        height: 40vw;
    }

    .contato-box {
        width: 35vw;
        margin-left: 5vw;
    }
}

@media screen and (min-width: 1880px) {
    .contato-box {
        margin-left: 10vw;
    }
}
/* CONTATO fim */